@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/base';
@import 'styles/components';
@import 'styles/utilities';
@import 'styles/responsive';